{{define "login"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User page</title>
</head>
<body>
<form id="newLoginForm" name="newLoginForm" action="/login" method="post">
    <label for="login">Login</label>
    <input type="login" id="login" name="login">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <button type="submit" name="submitBtn">Login</button>
</form>

<p><a id="back" href="">Back</a></p>

<script>
    var currentUrl = window.location.href;

    var back = document.getElementById("back");

    var paths = currentUrl.split("/");
    back.href = paths.slice(0, paths.length - 1).join("/");
</script>
</body>
</html>
{{end}}
