{{define "menu"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    <strong>Menu</strong>
    <p><a id="aboutme" href="/">About Me</a></p>
    <p><a id="tasks" href="/">Tasks</a></p>
    {{if . }}
        <p><a id="start" href="/" >Start</a></p>
        <p><a id="delete" href="/" onclick="sendDeleteRequest()">Delete</a></p>
    {{end}}

    <p><a id="exit" href="/">Exit</a></p>

    <script>
        var currentUrl = window.location.href;

        function sendDeleteRequest() {
            event.preventDefault();

            fetch(currentUrl + "/delete", {
                method: "DELETE",
            })
            .then((data) => {
               window.location.href = "/";
            })
        };
    
        var aboutme = document.getElementById("aboutme");
        var tasks = document.getElementById("tasks");
        var exit = document.getElementById("exit");
        var start = document.getElementById("start");
        // var del = document.getElementById("delete");
    
        aboutme.href = currentUrl + "/me"
        tasks.href = currentUrl + "/tasks"
        exit.href = currentUrl + "/exit"
        if (start !== null) {
            start.href = currentUrl + "/start"
        }
        // del.href = currentUrl + "/delete"
     </script>    
</body>
</html>
{{end}}