{{define "menu"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    <strong>Menu</strong>
    <p><a id="aboutme" href="/">About Me</a></p>
    <p><a id="tasks" href="/">Tasks</a></p>
    {{if . }}
        <p><a id="start" onclick="sendPostRequest()" href="/">Start</a></p>
        <p><a id="delete" onclick="sendDeleteRequest()" href="/">Delete</a></p>
    {{end}}

    <p><a id="exit" href="/exit">Exit</a></p>

    <script>
        var currentUrl = window.location.href;

        function sendPostRequest() {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", currentUrl + "/start", true);
            xhr.send();
        }
        function sendDeleteRequest() {
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", currentUrl + "/delete", true);
            xhr.send();
        }
    
        var aboutme = document.getElementById("aboutme");
        var tasks = document.getElementById("tasks");
        // var start = document.getElementById("start");
        // var del = document.getElementById("delete");
        var exit = document.getElementById("exit");
    
        aboutme.href = currentUrl + "/me"
        tasks.href = currentUrl + "/tasks"
        // start.href = currentUrl + "/start"
        // del.href = currentUrl + "/delete"
        exit.href = currentUrl + "/exit"
     </script>    
</body>
</html>
{{end}}